<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>易买网 - 首页</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" src="scripts/function.js"></script>
    <script type="text/javascript" charset="utf-8" src="kindeditor.js"></script>
    <script type="text/javascript">
        function selectname() {
            var name = document.getElementById("selectname").value;
            location.href = 'selectProductList?name=' + name;
        }
    </script>
</head>
<body>
<div id="header" class="wrap">
    <div id="logo"><img src="logo.gif" th:src="@{/img/logo.gif}"/></div>
    <div class="help">
        <span th:if="${userInfo} != null"><a th:href="@{/order/selfOrder}">个人订单</a></span>
        <span th:if="${userInfo} != null">当前用户:<span th:text="${userInfo.userName}"></span></span>
        <a class="shopping" th:href="@{/shopping}">购物车</a>
        <span th:if="${userInfo}==null"><a th:href="@{/portal/toLogin}">登录</a></span>
        <span th:if="${userInfo}!=null"><a th:href="@{/portal/logout}">退出</a></span>
        <span th:if="${userInfo}==null"><a th:href="@{/portal/toRegister}">注册</a></span>
        <span th:if="${userInfo}!=null"><a th:href="@{/portal/guestbook}">留言</a></span>
        <span th:if="${userInfo.status} =='2'"> <a th:href="@{/cms}">去后台</a></span>
    </div>
    <div class="navbar">
        <ul class="clearfix">
            <li class="current"><a href="indexSelect" th:href="@{/}">首页</a></li>
            <li><a href="product-list.html">图书</a></li>
            <li><a href="product_list.html">百货</a></li>
            <li><a href="product_list.html">品牌</a></li>
            <li><a href="product_list.html">促销</a></li>
        </ul>
    </div>
</div>
<div id="childNav">
    <div class="wrap">
        <ul class="clearfix">
            <li class="first"><a href="product_list.html">音乐</a></li>
            <li><a href="product_list.html">影视</a></li>
            <li><a href="product_list.html">少儿</a></li>
            <li><a href="product_list.html">动漫</a></li>
            <li><a href="product_list.html">小说</a></li>
            <li><a href="product_list.html">外语</a></li>
            <li><a href="product_list.html">数码相机</a></li>
            <li><a href="product_list.html">笔记本</a></li>
            <li><a href="product_list.html">羽绒服</a></li>
            <li><a href="product_list.html">秋冬靴</a></li>
            <li><a href="product_list.html">运动鞋</a></li>
            <li><a href="product_list.html">美容护肤</a></li>
            <li><a href="#">饰品</a></li>
            <li class="last"><input type="text" id="selectname"/><a href="javascript:selectname()">搜索</a></li>
        </ul>
    </div>
</div>
<div id="position" class="wrap">
    您现在的位置：<a href="index.html">易买网</a> &gt; 在线留言
</div>
<div id="main" class="wrap">
    <div class="lefter">
        <div class="box">
            <div class="box">
                <h2>商品分类</h2>
                <dl>
                    <dt><a href="selectProductList">全部商品</a></dt>
                    <c:forEach var="f" items="${flist}">
                        <dt><a href="selectProductList?fid=${f.EPC_ID }">${f.EPC_NAME }</a></dt>
                        <c:forEach var="c" items="${clist}">
                            <c:if test="${f.EPC_ID==c.EPC_PARENT_ID}">
                                <c:if test="${p.EPC_CHILD_ID!=c.EPC_ID}">
                                    <dd><a href="selectProductList?cid=${c.EPC_ID }">${c.EPC_NAME }</a></dd>
                                </c:if>
                            </c:if>
                        </c:forEach>
                    </c:forEach>
                </dl>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="guestbook">
            <h2>全部留言</h2>
            <ul>
                <li>
                    <%
                    int cpage=(Integer)request.getAttribute("page");
                    int max_page=(Integer)request.getAttribute("max_page");
                    //ArrayList
                    <EASYBUY_COMMENT> list=(ArrayList
                        <EASYBUY_COMMENT>)request.getAttribute("list");

                            //for(EASYBUY_COMMENT comment:list){
                            %>
                            <c:forEach var="comment" items="${list}">
                                <dl>
                                    <dt>${comment.EC_CONTENT }</dt>
                                    <dd class="author">网友：${comment.EC_NICK_NAME }
                                        <span class="timer">  ${comment.EC_CREATE_TIME }</span></dd>
                                    <dd>
                                        <c:if test="${comment.EC_REPLY ==null}">
                                            未回复
                                        </c:if>
                                        <c:if test="${comment.EC_REPLY !=null}">
                                            回复：
                                            <c:out value="${comment.EC_REPLY }"/>
                                        </c:if>
                                    </dd>

                                </dl>
                            </c:forEach>

                </li>

            </ul>
            <div class="clear"></div>
            <div class="pager">
                <ul class="clearfix">
                    <% if(cpage!=1){ %>
                    <li><a href="SelallServlet?page=<%=cpage-1%>">上一页</a></li>
                    <% }%>
                    <%for(int i=1;i<=max_page;i++){ %>
                    <li><a href="SelallServlet?page=<%=i%>"><%=i %></a></li>
                    <%} %>
                    <%if(cpage!=max_page){ %>
                    <li><a href="SelallServlet?page=<%=cpage+1%>">下一页</a></li>

                    <%
                    } %>
                </ul>
            </div>
            <div id="reply-box">
                <form action="GueServlet" method="post">
                    <table>
                        <tr>
                            <td class="field">昵称：</td>
                            <td><input class="text" name="guestName"/></td>
                        </tr>
                        <tr>
                            <td class="field">留言内容：</td>
                            <td>
                                <textarea id="content_1" name="guestContent"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><label class="ui-blue"><input type="submit" name="submit" value="提交留言"/></label></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="footer">
    Copyright &copy; 2010 ethen All Rights Reserved. 京ICP证1000001号
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"/>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"/>

</html>
