<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>易买网 - 首页</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/function.js}"></script>
    <script type="text/javascript">
        function selectname() {
            var name = document.getElementById("selectname").value;
            location.href = 'selectProductList?name=' + name;
        }
    </script>

</head>
<body>
<div id="header" class="wrap">
    <div id="logo"><img th:src="@{/img/logo.gif}"/></div>
    <div class="help">
        <span th:if="${userInfo} != null"><a th:href="@{/order/selfOrder}">个人订单</a></span>
        <span th:if="${userInfo} != null">当前用户:<span th:text="${userInfo.userName}"></span></span>
        <a class="shopping" th:href="@{/shopping}">购物车</a>
        <span th:if="${userInfo}==null"><a th:href="@{/portal/toLogin}">登录</a></span>
        <span th:if="${userInfo}!=null"><a href="zx">退出</a></span>
        <span th:if="${userInfo}==null"><a th:href="@{/portal/toRegister}">注册</a></span>
        <span th:if="${userInfo}!=null"><a th:href="@{/portal/guestbook}">留言</a></span>
        <span th:if="${userInfo} =='2'"> <a th:href="@{/cms}">去后台</a></span>
    </div>
    <div class="navbar">
        <ul class="clearfix">
            <li class="current"><a href="indexSelect" th:href="@{/}">首页</a></li>
            <li><a href="#">图书</a></li>
            <li><a href="#">百货</a></li>
            <li><a href="#">品牌</a></li>
            <li><a href="#">促销</a></li>
        </ul>
    </div>
</div>
<div id="childNav">
    <div class="wrap">
        <ul class="clearfix">
            <li class="first"><a href="#">音乐</a></li>
            <li><a href="#">影视</a></li>
            <li><a href="#">少儿</a></li>
            <li><a href="#">动漫</a></li>
            <li><a href="#">小说</a></li>
            <li><a href="#">外语</a></li>
            <li><a href="#">数码相机</a></li>
            <li><a href="#">笔记本</a></li>
            <li><a href="#">羽绒服</a></li>
            <li><a href="#">秋冬靴</a></li>
            <li><a href="#">运动鞋</a></li>
            <li><a href="#">美容护肤</a></li>
            <li><a href="#">饰品</a></li>
            <li class="last"><input type="text" id="selectname"/><a href="javascript:selectname()">搜索</a></li>
        </ul>
    </div>
</div>
<div id="register" class="wrap">
    <div class="shadow">
        <em class="corner lb"></em>
        <em class="corner rt"></em>
        <div class="box">
            <h1>欢迎回到易买网</h1>
            <form id="loginForm" method="post" th:action="@{/login}" onsubmit="return checkSubmit()">  <!--onsubmit="return checkForm(this)"-->
                <table>
                    <tr>
                        <td class="field">用户名：</td>
                        <td><input id="uNameLogin" class="text" type="text" name="userName" onfocus="FocusItem(this)"
                                   onblur="CheckItem(this);"/><span></span></td>
                    </tr>
                    <tr>
                        <td class="field" id="uPwdLogin">登录密码：</td>
                        <td><input class="text" type="password" id="passWord" name="passWord" onfocus="FocusItem(this)"
                                   onblur="CheckItem(this);"/><span></span></td>
                    </tr>
                    <tr>
                        <!--<td class="field">验证码：</td>-->
                        <!--<td><input class="text verycode" type="text" name="veriCode" onfocus="FocusItem(this)"-->
                                   <!--onblur="Checknum(this);"/>-->
                            <!--<img id="veryCode" alt="看不清,换一张" style="cursor:hand;" src="usernum?<%=new Date().getTime() %>" onclick="change(this)" />-->
                            <td class="field"></td>
                            <td><span id="msg" class="text"></span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label class="ui-green">
                                <input type="submit" name="submit" id="subLog" value="立即登录"/>
                            </label>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div id="footer">
    Copyright &copy; 2018 ethenyang All Rights Reserved. 京ICP证1000001号
</div>
</body>

<!--通过model取值-->
<script th:inline="javascript">
    var response = [[${response}]];
//    if(response != null) {
//        var code = response.code;
//        var msg = response.msg;
//        if(code==101) {
//            $("#msg").html(msg).css({color:"red"});
//        }
//    }
    if (response != null) {
        var code = response.code;
        var msg = response.msg;
        if(code == 101) {
            var msgBox = document.getElementById("msg");
            msgBox.innerHTML = msg;
            msgBox.className = "error";
            $("#msg").shake(2, 10, 400);
        }
    }

    function checkSubmit() {
        var userName = document.getElementById("uNameLogin");
        var password = document.getElementById("uPwdLogin");
        if (CheckItem(userName) && CheckItem(password)) {
            return true;
        } else {
            return false;
        }
    }

    //实现错误提示抖动
    jQuery.fn.shake = function (intShakes /*Amount of shakes*/, intDistance /*Shake distance*/, intDuration /*Time duration*/) {
        this.each(function () {
            var jqNode = $(this);
            jqNode.css({ position: 'relative' });
            for (var x = 1; x <= intShakes; x++) {
                jqNode.animate({ left: (intDistance * -1) }, (((intDuration / intShakes) / 4)))
                    .animate({ left: intDistance }, ((intDuration / intShakes) / 2))
                    .animate({ left: 0 }, (((intDuration / intShakes) / 4)));
            }
        });
        return this;
    }



</script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"/>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>

