<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>易买网 - 首页</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript" src="scripts/function.js"></script>

    <script language="javascript">

        function ScrollImgLeft() {
            var speed = 20
            var scroll_begin = document.getElementById("scroll_begin");
            var scroll_end = document.getElementById("scroll_end");
            var scroll_div = document.getElementById("scroll_div");
            scroll_end.innerHTML = scroll_begin.innerHTML

            function Marquee() {
                if (scroll_end.offsetWidth - scroll_div.scrollLeft <= 0)
                    scroll_div.scrollLeft -= scroll_begin.offsetWidth
                else
                    scroll_div.scrollLeft++
            }

            var MyMar = setInterval(Marquee, speed)
            scroll_div.onmouseover = function () {
                clearInterval(MyMar)
            }
            scroll_div.onmouseout = function () {
                MyMar = setInterval(Marquee, speed)
            }
        }

        function selectname() {
            var name = document.getElementById("selectname").value;
            location.href = 'selectProductList?name=' + name;
        }

    </script>


</head>
<body>
<div id="header" class="wrap">
    <div id="logo"><img src="logo.gif" th:src="@{/img/logo.gif}"/></div>
    <div class="help">
        <span th:if="${userInfo} != null"><a th:href="@{/order/selfOrder}">个人订单</a></span>
        <span th:if="${userInfo} != null">当前用户:<span th:text="${userInfo.userName}"></span></span>
        <a class="shopping" th:href="@{/shopping}">购物车</a>
        <span th:if="${userInfo}==null"><a th:href="@{/portal/toLogin}">登录</a></span>
        <span th:if="${userInfo}!=null"><a href="zx">退出</a></span>
        <span th:if="${userInfo}==null"><a th:href="@{/portal/toRegister}">注册</a></span>
        <span th:if="${userInfo}!=null"><a th:href="@{/portal/guestbook}">留言</a></span>
        <span th:if="${userInfo} =='2'"> <a th:href="@{/cms}">去后台</a></span>
    </div>
    <div class="navbar">
        <ul class="clearfix">
            <li class="current"><a href="indexSelect" th:href="@{/}">首页</a></li>
            <li><a href="#">图书</a></li>
            <li><a href="#">百货</a></li>
            <li><a href="#">品牌</a></li>
            <li><a href="#">促销</a></li>
        </ul>
    </div>
</div>
<div id="childNav">
    <div class="wrap">
        <ul class="clearfix">
            <li class="first"><a href="#">音乐</a></li>
            <li><a href="#">影视</a></li>
            <li><a href="#">少儿</a></li>
            <li><a href="#">动漫</a></li>
            <li><a href="#">小说</a></li>
            <li><a href="#">外语</a></li>
            <li><a href="#">数码相机</a></li>
            <li><a href="#">笔记本</a></li>
            <li><a href="#">羽绒服</a></li>
            <li><a href="#">秋冬靴</a></li>
            <li><a href="#">运动鞋</a></li>
            <li><a href="#">美容护肤</a></li>
            <li><a href="#">饰品</a></li>
            <li class="last"><input type="text" id="selectname"/><a href="javascript:selectname()">搜索</a></li>
        </ul>
    </div>
</div>
<div id="main" class="wrap">
    <div class="lefter">
        <div class="box">
            <h2>商品分类</h2>
            <dl>
                <dt><a href="selectProductList">全部商品</a></dt>
                <c:forEach var="f" items="${flist}">
                    <dt><a href="selectProductList?fid=${f.EPC_ID }">${f.EPC_NAME }</a></dt>
                    <c:forEach var="c" items="${clist}">
                        <c:if test="${f.EPC_ID==c.EPC_PARENT_ID}">
                            <c:if test="${p.EPC_CHILD_ID!=c.EPC_ID}">
                                <dd><a href="selectProductList?cid=${c.EPC_ID }">${c.EPC_NAME }</a></dd>
                            </c:if>
                        </c:if>
                    </c:forEach>
                </c:forEach>
            </dl>
        </div>
        <div class="spacer"></div>
        <div class="last-view">
            <h2>最近浏览</h2>
            <dl class="clearfix">
                <c:forEach var="lastp" items="${lastlylist}">
                    <dt><a href="selectProductView?id=${lastp.EP_ID }"><img height="40"
                                                                            src="images/product/${lastp.EP_FILE_NAME }"/></a>
                    </dt>
                    <dd><a href="selectProductView?id=${lastp.EP_ID }">${lastp.EP_NAME }</a></dd>
                </c:forEach>
            </dl>
        </div>
    </div>


    <div class="main">
        <div class="price-off">
            <h2>个人订单</h2>
            <c:if test="empty ${dan}">
                <table border="1" width="600px" height="100px" bordercolor="red">
                    <tr align="center">
                        <td class="field">订单号</td>
                        <td class="field">用户ID</td>
                        <td class="field">商品名称</td>
                        <td class="field">商品图片</td>
                        <td class="field">商品价格</td>
                        <td class="field">购买数量</td>
                        <td class="field">商品库存</td>
                    </tr>
                    <c:forEach var="d" items="${dan}">
                        <tr align="center">
                            <td>${d.EO_ID }</td>
                            <td>${d.EO_USER_ID }</td>
                            <td>${d.EP_NAME }</td>
                            <td><img src="images/product/${d.EP_FILE_NAME }" height="100" width="100"/></td>
                            <td>${d.EP_PRICE }</td>
                            <td>${d.EOD_QUANTITY }</td>
                            <td>${d.EP_STOCK }</td>
                        </tr>
                    </c:forEach>
                </table>
            </c:if>
            <c:if test=" ${dan==null}">
                <a href="indexSelect" th:href="@{/}">快去购买吧</a>
            </c:if>
        </div>

    </div>
</div>
<div id="footer">
    Copyright &copy; 2010 ethen All Rights Reserved. 京ICP证1000001号
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"/>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>


