<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理 - 易买网</title>
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<script type="text/javascript" src="../scripts/function-manage.js" th:src="@{/js/function-manage.js}"></script>
</head>
<body>
<div id="header" class="wrap">
	<div id="logo">t<img src="../images/logo.gif" /></div>
	<div class="help"><a href="../indexSelect" th:href="@{/}">返回前台页面</a></div>	<div class="navbar">
		<ul class="clearfix">
			<li><a href="index.html" th:href="@{/cms}">首页</a></li>
			<li><a href="/cms/user" th:href="@{/cms/user}">用户</a></li>
			<li class="current"><a href="productSelect" th:href="@{/cms/product}">商品</a></li>
			<li><a href="ordersel" th:href="@{/cms/order}">订单</a></li>
			<li><a href="SelManage" th:href="@{/cms/guestbook}">留言</a></li>
			<li><a href="newsselect" th:href="@{/cms/news}">新闻</a></li>
		</ul>
	</div>
</div>
<div id="childNav">
	<div class="welcome wrap" th:if="${userInfo != null}">
		管理员<span th:text="${userInfo.userName}"></span>您好，今天是2012-12-21，欢迎回到管理后台。
	</div>
</div>
<div id="position" class="wrap">
	您现在的位置：<a href="index.html">易买网</a> &gt; 管理后台
</div>
<div id="main" class="wrap">
	<div id="menu-mng" class="lefter">
		<div class="box">
			<dl>
				<dt>用户管理</dt>
				<dd><em><a href="user-add.html">新增</a></em><a href="user" th:href="@{/cms/user}">用户管理</a></dd>
				<dt>商品信息</dt>
				<dd><em><a href="productClassAdd">新增</a></em><a href="productClass" th:href="@{/cms/productClass}">分类管理</a></dd>
				<dd><em><a href="productAdd">新增</a></em><a href="productSelect" th:href="@{/cms/product}">商品管理</a></dd>
				<dt>订单管理</dt>
				<dd><a href="ordersel" th:href="@{/cms/order}">订单管理</a></dd>
				<dt>留言管理</dt>
				<dd><a href="SelManage" th:href="@{/cms/guestbook}">留言管理</a></dd>
				<dt>新闻管理</dt>
				<dd><em><a href="news-add.html">新增</a></em><a href="newsselect" th:href="@{/cms/news}">新闻管理</a></dd>
			</dl>
		</div>
	</div>
	<div class="main">
		<h2>分类管理</h2>
		<div class="manage">
			<table class="list">
				<tr>
					<th>ID</th>
					<th>分类名称</th>
					<th>操作</th>
				</tr>
				<c:forEach var="epc" items="${epclist}">
					<c:if test="${epc.EPC_ID==epc.EPC_PARENT_ID}">
						<tr>
							<td class="first w4 c">${epc.EPC_ID}</td>
							<td>${epc.EPC_NAME}</td>
							<td class="w1 c"><a href="toProductClassUpdate?id=${epc.EPC_ID}">修改</a> <a href="productClassDel?id=${epc.EPC_ID}">删除</a></td>
						</tr>
						<c:forEach var="epc2" items="${epclist}">
							<c:if test="${epc.EPC_ID==epc2.EPC_PARENT_ID&&epc2.EPC_ID!=epc2.EPC_PARENT_ID}">
								<tr>
									<td class="first w4 c">${epc2.EPC_ID}</td>
									<td class="childClass">${epc2.EPC_NAME}</td>
									<td class="w1 c"><a href="toProductClassUpdate?id=${epc2.EPC_ID}">修改</a> <a href="javascript:productClassDel(${epc2.EPC_ID})">删除</a></td>
								</tr>
							</c:if>
						</c:forEach>
					</c:if>
				</c:forEach>
			</table>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="footer">
	Copyright &copy; 2010 ethen All Rights Reserved. 京ICP证1000001号
</div>
</body>
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"/>
<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>

