<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>h5练习一</title>
</head>
<body>
<!--<canvas id="myCanvas" width="200" height="200"></canvas>-->
<!--<script type="text/javascript">-->
    <!--var canv = document.getElementById("myCanvas");-->
    <!--var ctx = canv.getContent("2d");-->
    <!--ctx.fillStyle="#2220ff";-->
    <!--ctx.fillRect(0,0,200,200);-->
<!--</script>-->

<canvas id="myCanvas" width="200" height="200"></canvas>
<script type="text/javascript">
    var c=document.getElementById("myCanvas");
    var cxt=c.getContext("2d");
    cxt.fillStyle="#3b4cff";
    cxt.fillRect(0,0,200,200);
</script>
</body>
</html>